# This is a manually triggered action workflow.
# It uses Packer at latest version to init, validate and build
# an example configuration in a folder.
name: test plugin example

on:
  workflow_dispatch:
    inputs:
      logs:
        description: "Set 1 to activate full logs"
        required: false
        default: "0"
      folder:
        description: "Example folder"
        required: false
        default: "./example"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: init and build example
    env:
      UPCLOUD_API_USER: ${{ secrets.UPCLOUD_API_USER }}
      UPCLOUD_API_PASSWORD: ${{ secrets.UPCLOUD_API_PASSWORD }}
      PACKER_LOG: ${{ github.event.inputs.logs }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Packer
        uses: hashicorp/setup-packer@1aa358be5cf73883762b302a3a03abd66e75b232 # v3.1.0
        with:
          version: "latest"

      - name: Run Packer Init
        working-directory: ${{ github.event.inputs.folder }}
        run: packer init .

      - name: Run Packer Validate
        working-directory: ${{ github.event.inputs.folder }}
        run: packer validate -var="ssh_public_key=/dev/null" .

      - name: Run Packer Build
        working-directory: ${{ github.event.inputs.folder }}
        run: packer build -var="ssh_public_key=/dev/null" .
