name: test

on: [push]

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.18.x]
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - name: Dependencies
        run: |
          go version
          go get -u golang.org/x/lint/golint

      - name: Build
        run: make build

      - name: Code Style
        run: make lint

      - name: Test PR
        if: github.ref != 'refs/heads/main'
        run: make test

      - name: Test main
        if: github.ref == 'refs/heads/main'
        env:
          UPCLOUD_API_USER: ${{ secrets.UPCLOUD_API_USER }}
          UPCLOUD_API_PASSWORD: ${{ secrets.UPCLOUD_API_PASSWORD }}
          PACKER_ACC: 1
        run: make test_integration
